.aboutSection {
  height: auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20%;
}

.photoAndDescription {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 40px;
}

.myImage {
  height: auto;
  width: max(250px, 15%);
  border-radius: 15px 50px ;
}

.myDescription {
  color: #fff;
  width:max(40%, 300px);
  text-align: justify;
}

.phrase {
  width: 80%;
  margin: 40px auto 20px auto;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.buttonPhrase {
  width: 80%;
  max-width: 220px;
  height: 30px;
  margin: 10px auto 20px auto;
  text-align: center;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px black;
  font-size: 16px;
  cursor: pointer;
}

.buttonPhrase:active {
  box-shadow: 1px 1px black;
  transform: translate(1px, 1px);
}

.buttonPhrase:hover {
  background-color: #ccc;
}