.section {
  padding: 100px 0;
  color:var(--font-color);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  height: auto;
  min-height: 90vh;
  width: 100%;
}

.section> div {
  width: max(40%, 300px);
}

.section > div > p {
  font-size: 20px;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.form > label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 19px;
}

.form > label > input,
.form > label > textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}


.form > button {
  width: 50%;
  max-width: 120px;
  padding: 10px;
  font-size: 15px;
}

