@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Suwannaphum:wght@700&display=swap');

:root {
  --background-color-1: #003878;
  --background-color-2: #005478;
  --color-3: #91b8c1;
  --color-4: #2A2E34;
  --font-color: #c8e6e6;
  --color-5: #3a5b85;
}

h1 {
  font-family: 'Suwannaphum', serif;
  color: var(--font-color);
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

p,
span,
button,
a {
  font-family: 'Noto Sans', sans-serif;
  color: var(--font-color);
}

button {
  background-color: var(--background-color-2);
  box-shadow: 3px 3px 1px var(--font-color);
  cursor: pointer;
  border: 2px solid var(--background-color-1);
  border-radius: 6px;
}

button:active {
  box-shadow: 1px 1px var(--font-color);
  transform: translate(1px, 1px);
}

button:hover {
  background-color: var(--color-4);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
}

.mainTitle {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  font-size: 30px;
}

.mainTitle > span {
  font-size: 40px;
}

.hamburger-react {
  color: var(--font-color);
}