@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Suwannaphum:wght@700&display=swap');

h1{
  font-family: 'Suwannaphum', serif;
}

p,
span,
button,
a {
  font-family: 'Noto Sans', sans-serif;
}

*{
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

body, html {
  background: linear-gradient(#313131, #474747);
}

main {
  width: 100%;
  height: 100%;
}

.mainTitle {
  color: #fff;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}
