@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --background-color-1: #003878;
  --background-color-2: #005478;
  --color-3: #91b8c1;
  --color-4: #2A2E34;
  --font-color: #c8e6e6;
  --color-5: #3a5b85;
  --font: 'Inter', sans;
}

h1 {
  font-size: 40px;
  color: var(--font-color);
}

h2 {
  font-size: 30px;
  color: var(--font-color);
}

h3 {
  font-size: 20px;
}

p,
span,
button,
a {
  color: var(--font-color);
}

hr {
  background-color: var(--font-color);
  height: 2px;
}

button {
  background-color: var(--color-4);
  box-shadow: 3px 3px 1px var(--font-color);
  cursor: pointer;
  border: 2px solid var(--background-color-1);
  border-radius: 6px;
  height: 50px;
}

button:active {
  box-shadow: 1px 1px var(--font-color);
  transform: translate(1px, 1px);
}

button:hover {
  background-color: var(--background-color-1);
}

*{
  font-family: var(--font);
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
}

.hamburger-react {
  color: var(--font-color);
}

.footer {
  width: 100%;
  height: 100px;
  background-color: var(--background-color-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--font-color);
}

.visualMove {
  animation: move 2s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}