.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color-1);
  padding: 7px 15px;
  border: 1px solid var(--font-color);
}
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 90px;
  height: 100%;
}

.navbarList {
  display: flex;
  width: 50%;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

.navbarItem {
  list-style: none;
  font-size: 20px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbarItem::after {
  transition: all .5s ease-in-out;
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--font-color);
}

.navbarItem:hover::after {
  width: 100%;
}

.navbarLink {
  text-decoration: none;
}

.popupActive {
  opacity: 1;
  z-index: 1;
}

@media (width <= 768px) {
  .navbarList {
    width: 100%;
  }

  .navbar {
    justify-content: flex-end;
  }
}